{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block page_id %}home{% endblock %}

{% block body %}
<div class="container">
<div class="center-image">
    <img class="profile" src="/ui/marc.jpg" alt="Image of Marc Hanley" />
</div>
<div class="footer">
    <a href="https://www.linkedin.com/in/marc-hanley/">
        <img class="linkedin" src="/ui/linkedin.svg" alt="LinkedIn hyperlink" />
    </a>
    <a href="https://github.com/Blackshadow20GX">
        <img class="github" src="/ui/github.png" alt="Github hyperlink" />
        <p>TEST</p>
    </a>
</div>
</div>
{% endblock %}

