.container{
    width:100%; 
    height:100%;
    margin:0;
    position: absolute; 
    top: 0; 
    left: 0;
    background-image: url("/ui/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.center-image {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    padding-top: 1em;

    .profile {
        height: 300px;
        width: 300px;
        display: block;
        width: 100%;
        border-radius: 50%;
    }
}

.footer {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;

    .linkedin {
        display: inline-block;
        vertical-align: middle;
        height: 150px;
        width: 300px;
        @media #{$desktop}{
            margin-right: 5em;
        }
        @media #{$mobile}{
            padding-top: 1em;
        }
    }
    .github {
        display: inline-block;
        vertical-align: middle;
        height: 70px;
        width: 300px;
    }
}