.nav-ghost{
  height: 85px;
}

nav {
  @extend .nav-ghost;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  z-index: 1;

  @media #{$desktop}{
    .nav-left {
      float:left;
    }
    .nav-right {

    }
  }

  .inner {
    @media #{$desktop} {
      width: $page-width-dynamic;
      height: 100%;
    }
    max-width: $page-width-max;
    margin: auto;
  }

  .logo {
    text-align: center;
    position: absolute;
    width:100%;
    a{
      position: absolute;
      margin-left: -70px;
      margin-top: 5px;
    }
    @media #{$mobile} {
      text-align: left;
      a{
        margin-left: 20px;
      }
    }
  }

  ul {
    @extend .flat-list;
    width:100%;
    height: 100%;
    background-color: $color-primary-tint-5;
    text-align: right;
    margin: 0px;
    @media #{$desktop}{
      li{
        padding-left: 7px;
        padding-right: 7px;
        height: 100%;
        a{
          padding-top: 30px;
          height: 100%;
          display: block;
        }

        &:hover{
          transition: background-color 0.2s linear;
          background-color: $color-primary;
          a{
            color:$color-secondary-tint-5;
          }
        }
      }
    }

    @media #{$mobile} {
      height: 100px;
      float: none;
      width: 100%;
      text-align: center;
      li{
        line-height: initial;
        display: inline;
        text-align: center;
        margin: 0.8em 0;
      }
    }
  }

  .hamburger {
    color: $color-primary;
    cursor: pointer;
    font-size: 34px;
    position: fixed;
    right: 25px;
    top: 25px;
    @media #{$desktop} {
      display: none;
    }
  }
}
