$color-primary: #f36e2e;
$color-primary-shade-0: $color-primary;
$color-primary-shade-1: #C35824;
$color-primary-shade-2: #93421A;
$color-primary-shade-3: #632C10;
$color-primary-shade-4: #331606;
$color-primary-shade-5: black;
$color-primary-tint-0: $color-primary;
$color-primary-tint-1: #F58C58;
$color-primary-tint-2: #F7AA82;
$color-primary-tint-3: #F9C8AC;
$color-primary-tint-4: #FBE6D6;
$color-primary-tint-5: white;

$color-secondary: #ebebeb;
$color-secondary-shade-0: $color-secondary;
$color-secondary-shade-1: #BBBBBB;
$color-secondary-shade-2: #8B8B8B;
$color-secondary-shade-3: #5B5B5B;
$color-secondary-shade-4: #2B2B2B;
$color-secondary-shade-5: black;
$color-secondary-tint-0: $color-secondary;
$color-secondary-tint-1: #EFEFEF;
$color-secondary-tint-2: #F3F3F3;
$color-secondary-tint-3: #F7F7F7;
$color-secondary-tint-4: #FBFBFB;
$color-secondary-tint-5: white;

$typeface: sans-serif;
$text-color: $color-secondary-shade-3;
$text-color-alt: $color-secondary;

$page-width-dynamic: 90%;
$page-width-max: 900px;

$font-size: 18px;

$mobile: '(max-width: 914px)';
$desktop: '(min-width: 915px)';