.primary-tint-0{
  background-color: $color-primary-tint-0;
}
.primary-tint-1{
  background-color: $color-primary-tint-1;
}
.primary-tint-2{
  background-color: $color-primary-tint-2;
}
.primary-tint-3{
  background-color: $color-primary-tint-3;
}
.primary-tint-4{
  background-color: $color-primary-tint-4;
}
.primary-tint-5{
  background-color: $color-primary-tint-5;
}
.primary-shade-0{
  background-color: $color-primary-shade-0;
}
.primary-shade-1{
  background-color: $color-primary-shade-1;
}
.primary-shade-2{
  background-color: $color-primary-shade-2;
}
.primary-shade-3{
  background-color: $color-primary-shade-3;
}
.primary-shade-4{
  background-color: $color-primary-shade-4;
}
.primary-shade-5{
  background-color: $color-primary-shade-5;
}


.secondary-tint-0{
  background-color: $color-secondary-tint-0;
}
.secondary-tint-1{
  background-color: $color-secondary-tint-1;
}
.secondary-tint-2{
  background-color: $color-secondary-tint-2;
}
.secondary-tint-3{
  background-color: $color-secondary-tint-3;
}
.secondary-tint-4{
  background-color: $color-secondary-tint-4;
}
.secondary-tint-5{
  background-color: $color-secondary-tint-5;
}
.secondary-shade-0{
  background-color: $color-secondary-shade-0;
}
.secondary-shade-1{
  background-color: $color-secondary-shade-1;
}
.secondary-shade-2{
  background-color: $color-secondary-shade-2;
}
.secondary-shade-3{
  background-color: $color-secondary-shade-3;
}
.secondary-shade-4{
  background-color: $color-secondary-shade-4;
}
.secondary-shade-5{
  background-color: $color-secondary-shade-5;
}