.image{
  border: 0;
  display: inline-block;
  position: relative;
  img{
    display: block;
    width: 100%;
  }
  &.left {
    float: left;
    margin: 0 2rem 2rem 0;
    top: 0.75rem;
  }
  &.right{
    float: right;
    margin: 0 0 2rem 2rem;
    top: 0.75rem;
  }
  &.left,&.right{
    max-width: 40%;
  }
  &.fit{
    display: block;
    margin: 2.5rem 0;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
    @media #{$mobile}{
      margin: 2rem 0;
    }
  }
  &.main {
    display: block;
    margin: 4rem 0;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
    @media #{$mobile}{
      margin: 2rem 0;
    }
  }

}

iframe{
  border:0px;
  &.video{
    border: 10px solid $color-primary;

    &.fit{
      width:95%;
      height: 480px;
      @media #{$mobile}{
        height:250px;
      }
    }
  }
}